<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sanitize"></activity>
        <activity android:name=".Commimg_Soon" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Home_Page" />
        <activity android:name=".New_Password" />
        <activity android:name=".Forgot" />
        <activity android:name=".Register" />
        <activity android:name=".NextActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplaceScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>